node_modules/
.next/
.out/
.dist/
.DS_Store
.env
.env.local
.env.development
.env.production
.env.test
.pnpm-debug.log*
.pnpm-store/
.turbo/
coverage/
packages/shared/coverage/
*.tsbuildinfo
**/*.tsbuildinfo
lcov.info
.next/
packages/contracts/out/
packages/contracts/cache/
packages/contracts/broadcast/
packages/contracts/lcov.info
packages/database/.local-pglite/
